/* IMPORTS  */


/*  END IMPORTS  */


/*BASE STYLES*/

html {
    color: #111;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility !important;

    -webkit-font-smoothing: subpixel-antialiased !important;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*END BASE STYLES*/

/* NAV STYLES */

.top_header {
	height: 10vh;
	/*background-color: coral;*/
	position: relative;
}

.header_wrap {
	height: 100%;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/*background-color: lightcoral;*/
}

.logo_wrap {
	height: 7vh;
	width: 7vh;
	/*background-color: black;*/
	align-self: center;
}

.logo {
	display: block;
	height: 100%;
	width: 100%;
	background-image: url('../img/ACG_logo.svg');
	background-size: cover;
}

.navigation_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
}

.nav_menu {
	margin: 10px;
}

.nav_links {
	position: relative;
	display: inline-block;
	margin: 15px;
	padding: 5px;
	font-family: 'Merriweather', serif;
	font-size: 0.9em;
	text-decoration: none;
	font-weight: 700;
	color: #757575;
	text-transform: uppercase;
}

.nav_links:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #111;
	visibility: hidden;
	transform: scaleX(0);
	transition: 0.2s ease-in;
}

.nav_links:hover:after,
.nav_links:focus:after {
	visibility: visible;
	transform: scaleX(1);
}

.social_wrap {
	height: 100%;
	width: 10vw;
	top: 0;
	right: 0;
	/*background-color: blue;*/
	
}

.social_links {
	height: 100%;
	display: flex;
	justify-content: center;
}


.social_icon {
	display: inline-block;
	text-decoration: none;
	height: 1.5vw;
	width: 1.5vw;
	align-self: center;
	
}

.facebook {
	margin-right: 5px;
	
}

.facebook:hover {
	background-color: #8b9dc3;
}

.instagram {
	margin-right: 5px;
	
}

.instagram:hover {
	background: #fccc63;
}

.linkedin {
	
}

.linkedin:hover {
	background: #007bb5;
}



/*END NAV STYLES*/

/*HOME STYLES*/

.home_bg {
	background-image: url('../img/home_bg.png');
	background-size: cover;
}

/*END HOME STYLES*/

/*ABOUT STYLES*/

.about_content {
	height: 90vh;
	width: 90vw;
	margin: 0 auto;
	position: relative;
	background: lightcoral;
}

.about_banner {
	position: relative;
	
}

.banner_1 {
	width: 447px;
	height: 238px;
	background-image: url('../img/800_1.png');
	position: absolute;
	top: 0;
	left: 200px;
}

.banner_2 {
	width: 353px;
	height: 238px;
	background-image: url('../img/800_2.png');
	position: absolute;
	top: 0;
	left: 647px;

}

.banner_3 {
	width: 447px;
	height: 325px;
	background-image: url('../img/800_3.png');
	position: absolute;
	top: 238px;
	left: 200px;
}

.banner_4 {
	width: 353px;
	height: 325px;
	background-image: url('../img/800_4.png');
	position: absolute;
	top: 238px;
	left: 647px;
}

.about_text {
	width: 60%;
	position: absolute;
}

.about_text h1 {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 1.8em;
}

.about_text h3 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 500;
	font-size: 1.3em;
}

/*END ABOUT STYLES*/

/*PRODUCT STYLES*/

.products_content {
	width: 100%;
	overflow-x: hidden;
	
}

.products_menu {
	height: 90vh;
	width: 5vw;
	
	position: fixed;
	
}

.pr_list {
	height: 100%;
	width: 100%;
	padding: 0;
	margin:0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.pr_list_item {
	width: 100%;
	display: block;
	padding: 2px;
	list-style: none;
	transform: rotateZ(-90deg);
}

.pr_list_item a {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 0.85em;
	line-height: 1.1;
	font-weight: bold;
	color: #757575;
}

.products_wrapper {
	width: 90vw;
	position: relative;
	left: 5vw;
}

.pr_intro {
	height: 90vh;
	width: 100%;
	position: relative;
}

.pr_intro .intro_text {
	padding: 20px;
	position: absolute;
	bottom: 30px;
	right: 50px;
	z-index: 3;
	width: 60%;
	background-color: rgba(0, 0, 0, 0.6);
}

.pr_intro .intro_text h1 {
	font-family: 'Lora', serif;
	font-size: 2em;
	line-height: 1.1;
	color: #DEDBDB;
	font-weight: 500;
}

.pr_intro .intro_overlay {
	height: 85vh;
	width: 100%;
	background-color: #111;
	opacity: 0.65;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.pr_intro .intro_image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 85vh;
	width: 100%;
	/*background-image: url('../img/carpet_work.png');
	background-repeat: no-repeat;
	background-size: cover;*/
}

.pr_intro .intro_image img {
	height: 100%;
	width: 100%;
}



.pr_garments {
	background-color: #E5E0E0;
	min-height: 100vh;
	width: 90vw;
	
}

.pr_container {
	height: 100%;
	width: 100%;
	position: relative;
}

.pr_header {
	padding: 10vh 0 2vh 8vw;
}

.pr_header h2 {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 2em;
}

.garment_row {
	padding: 2vh 0 2vh 0;
	display: flex;
}

.gar_row_1 {
	justify-content: center;
}

.gar_row_2 {
	justify-content: space-around;
}

.gar_row_3 {
	justify-content: center;
}

.pr_text {
	padding-top: 3vh;
	width: 35vw;
}

.pr_text p {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 1.1em;
}

.garment_img {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.gar_img {
	height: 100%;
	
}

.gar_img_1 {
	height: 220px;
	width: 270px;
	margin-right: 40px; 
	background-color: #c7b29a;
	/*top: 20vh;
	left: 12vw;*/
	align-self: center;
}

.gar_img_2 {
	height: 260px;
	width: 250px;
	margin-right: 40px; 
	background-color: #9ebfb1;
	/*top: 18vh;
	left: 36vw;*/
	align-self: flex-start;
}

.gar_img_3 {
	height: 220px;
	width: 350px;
	background-color: #c4d39d;
	align-self: flex-end;
}

.gar_img_4 {
	height: 250px;
	width: 400px;
	background-color: #858caa;
}

.gar_img_5 {
	height: 320px;
	width: 250px;
	margin-right: 40px; 
	background-color: #a6a6a6;
}

.gar_img_6 {
	height: 330px;
	width: 250px;
	margin-top: 20px;
	margin-right: 40px; 
	background-color: #d7c9a0;
}

.gar_img_7 {
	height: 300px;
	width: 250px;
	background-color: #c7bacb;
}



.pr_carpets {
	
	width: 100vw;
	
}

.pr_shawls {
	
	width: 100vw;
	
}

.pr_stoles {
	
	width: 100vw;
	
}

.pr_furnish {
	
	width: 100vw;
	
}


/*END PRODUCT STYLES*/

/*CONTACT STYLES*/

.contact_content {
	width: 100vw;
	height: 90vh;
	background-color: #222;
	overflow: hidden;
}

.contact_wrapper {
	height: 100%;
	width: 100%;
	background-image: url('../img/contact_bg.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_wrap {
	height: 400px;
	width: 600px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #fff;
}

.form_header {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
} 

form {
	padding: 10px;
}

.form_header h1 {
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	font-weight: 400;
	color: #fff;
}

.form_group {
	margin-bottom: 20px;
}

.form_group:last-child {
	margin: 0;
} 

.form_group:after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
    margin-top: -1px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bab6b6;
}

.form_group.is_focused:after {
	border-color: #FC9494;
}

.form_control {
	width: 80%;
	margin: 0 auto;
	border: none;
   	box-shadow: none;
   	margin-bottom: 3px;
   	margin-left: 5px;
}

input {
	border: none;
	outline: none;
	background: transparent;
	font: 16px/1 'Merriweather', serif;
	color: #fff;
}

textarea {
	min-height: 50px;
	height: 50px;
	border: none;
	outline: none;
	overflow-y: hidden;
	resize: none;
	transition: height .1s;
	background: transparent;
	font: 16px/1 'Merriweather', serif;
	color: #fff;
}

.submit_btn {
	margin-top: 50px;
}

.button {
	text-align: center;
	
	outline: none;
	background: transparent;
	color: #fff;
	padding: 10px 20px 10px 20px;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	border: 1px solid #fff;
}


/*END CONTACT STYLES*/