 IMPORTS  */


/*  END IMPORTS  */


/*BASE STYLES*/

html {
    color: #111;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility !important;

    -webkit-font-smoothing: subpixel-antialiased !important;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*END BASE STYLES*/

/* NAV STYLES */

.top_header {
	height: 10vh;
	background-color: #ececec;
	position: relative;
}

.header_wrap {
	height: 100%;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}

.logo_wrap {
	height: 7vh;
	width: 7vh;
	/*background-color: black;*/
	align-self: center;
}

.logo {
	display: block;
	height: 100%;
	width: 100%;
	background-image: url('../img/ACG_logo.svg');
	background-size: cover;
}

.navigation_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
}

.nav_menu {
	margin: 10px;
}

.nav_links {
	position: relative;
	display: inline-block;
	margin: 15px;
	padding: 5px;
	font-family: 'Merriweather', serif;
	font-size: 0.9em;
	text-decoration: none;
	font-weight: 700;
	color: #4B3D3D;
	text-transform: uppercase;
}

.nav_links:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #111;
	visibility: hidden;
	transform: scaleX(0);
	transition: 0.2s ease-in;
}

.nav_links:hover:after,
.nav_links:focus:after {
	visibility: visible;
	transform: scaleX(1);
}

.social_wrap {
	height: 100%;
	width: 10vw;
	top: 0;
	right: 0;
	/*background-color: blue;*/
	
}

.social_links {
	height: 100%;
	display: flex;
	justify-content: center;
}


.social_icon {
	display: inline-block;
	text-decoration: none;
	height: 1.5vw;
	width: 1.5vw;
	align-self: center;
	
}

.facebook {
	margin-right: 5px;
	
}

.facebook:hover {
	background-color: #8b9dc3;
}

.instagram {
	margin-right: 5px;
	
}

.instagram:hover {
	background: #fccc63;
}

.linkedin {
	
}

.linkedin:hover {
	background: #007bb5;
}



/*END NAV STYLES*/

/*HOME STYLES*/

.home_bg {
	background-image: url('../img/home_bg.png');
	background-size: cover;
}

/*END HOME STYLES*/

/*ABOUT STYLES*/

.about_content {
	height: 90vh;
	width: 100vw;
	margin: 0 auto;
	position: relative;
	background: #ececec;
}

.about_wrapper {
	height: 100%;
	width: 100%;

}

.about_intro {
	padding: 40px 0 40px 0;
	width: 100%;
	height: 45vh;
	background-image: url('../img/about_fog.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.about_text {
	padding-top: 15px;
	width: 70vw;
	margin: 0 auto;
}

.about_text h1 {
	font-size: 1.1em;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	text-align: justify;
}

.about_art {

	height: 40vh;
	background-image: url('../img/about_figures.png');
	background-repeat: no-repeat;
	background-size: cover;
}



/*END ABOUT STYLES*/

/*PRODUCT STYLES*/

.products_content {
	width: 100%;
	overflow-x: hidden;
	background-color: #ececec;
}

.products_wrapper {
	width: 90vw;
	margin: 0 auto;
}

.pr_intro {
	height: 90vh;
	width: 100%;
	position: relative;
}

.pr_intro .intro_text {
	padding: 20px;
	position: absolute;
	bottom: 30px;
	right: 50px;
	z-index: 3;
	width: 60%;
	background-color: rgba(0, 0, 0, 0.6);
}

.pr_intro .intro_text h1 {
	font-family: 'Lora', serif;
	font-size: 1.5em;
	line-height: 1.1;
	color: #DEDBDB;
	font-weight: 500;
}

.pr_intro .intro_overlay {
	height: 85vh;
	width: 100%;
	background-color: #111;
	opacity: 0.65;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.pr_intro .intro_image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 85vh;
	width: 100%;
	/*background-image: url('../img/carpet_work.png');
	background-repeat: no-repeat;
	background-size: cover;*/
}

.pr_intro .intro_image img {
	height: 100%;
	width: 100%;
}


.pr_container {
	height: 100%;
	width: 100%;
	position: relative;
}

.pr_header {
	padding: 10vh 0 2vh 8vw;
}

.pr_header h2 {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 2em;
}

.pr_garments {
	background-color: #ececec;
	min-height: 100vh;
	width: 90vw;
	
}

.pr_carpets {
	background-color: #ececec;
	min-height: 100vh;
	width: 90vw;
	
}

.pr_shawls {
	background-color: #ececec;
	min-height: 100vh;
	width: 90vw;
	
}

.pr_stoles {
	background-color: #ececec;
	min-height: 100vh;
	width: 90vw;
	
}

.pr_furnish {
	background-color: #ececec;
	min-height: 100vh;
	width: 90vw;
	
}

.pr_jackets {
	background-color: #ececec;
	min-height: 100vh;
	width: 90vw;
	
}

	/*products general */

.gar_img {
	height: 100%;
	width: 100%;
}

.row_1 {
	min-height: 40vh;
	position: relative;
}

.row1_flex {
	height: 100%;

	display: flex;
	justify-content: space-around;
}

.pr_text {
	margin: 30px;
	width: 40vw;
	position: relative;
}

.row_2 {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



	/*end products general*/

.gar_img_1, 
.gar_img_2 {
	height: 450px;
	width: 300px;
}

.gar_img_1 {
	margin-top: 100px;
}

.garments_text {
	bottom: 30px;
	left: 40vw;
}

.garments_text h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
}

.row2_img {
	margin: 20px;
	height: 450px;
	width: 300px;
}

.car_img {
	height: 100%;
	width: 100%;
}

.car_img_1 {
	margin-top: 100px;
	height: 430px;
	width: 300px;
}

.car_img_2 {
	height: 300px;
	width: 430px;
}

.carpets_text {
	bottom: 100px;
	left: 40vw;
}

.row2_img_car {
	margin: 20px;
	height: 300px;
	width: 430px;
}

.scar_img {
	height: 100%;
	width: 100%;
}

.stole_img_1 {
	margin-top: 70px;
	height: 360px;
	width: 300px;
}

.stole_img_2 {
	height: 360px;
	width: 360px;
}

.row2_img_scar {
	margin: 20px;
	height: 360px;
	width: 360px;
}


/*END PRODUCT STYLES*/

/*CONTACT STYLES*/

.contact_content {
	width: 100vw;
	height: 90vh;
	background-color: #222;
	overflow: hidden;
}

.contact_wrapper {
	height: 100%;
	width: 100%;
	background-image: url('../img/contact_bg.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_wrap {
	height: 400px;
	width: 600px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #fff;
}

.form_header {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
} 

form {
	padding: 10px;
}

.form_header h1 {
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	font-weight: 400;
	color: #fff;
}

.form_group {
	margin-bottom: 20px;
}

.form_group:last-child {
	margin: 0;
} 

.form_group:after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
    margin-top: -1px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bab6b6;
}

.form_group.is_focused:after {
	border-color: #FC9494;
}

.form_control {
	width: 80%;
	margin: 0 auto;
	border: none;
   	box-shadow: none;
   	margin-bottom: 3px;
   	margin-left: 5px;
}

input {
	border: none;
	outline: none;
	background: transparent;
	font: 16px/1 'Merriweather', serif;
	color: #fff;
}

textarea {
	min-height: 50px;
	height: 50px;
	border: none;
	outline: none;
	overflow-y: hidden;
	resize: none;
	transition: height .1s;
	background: transparent;
	font: 16px/1 'Merriweather', serif;
	color: #fff;
}

.submit_btn {
	margin-top: 50px;
}

.button {
	text-align: center;
	
	outline: none;
	background: transparent;
	color: #fff;
	padding: 10px 20px 10px 20px;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	border: 1px solid #fff;
}


/*END CONTACT STYLES